<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8">
        <title>WebService</title>
    </head>
<body>
<form action="/calculator" method="get">
    <input id="input" th:value="${number}" name="number" type="text" size="15"></p>
    <button id="butt_plus_1" name="action" type="sumbit" value="plus_1">+1</button>
    <button id="butt_minus_1" name="action" type="sumbit" value="minus_1" style='margin-left:63px;'>-1</button>
    </p>
    <p>
        <button id="butt_plus_10" name="action" type="sumbit" value="plus_10">+10</button>
        <button id="butt_minus_10" name="action" type="sumbit" value="minus_10" style='margin-left:50px;'>-10</button>
    </p>
    <p>
    <div id="str" th:text="${message}"></div>
    </p>
</form>
</body>
</html>